{% extends "base.html.twig" %}

{% block nav %}{% endblock %}

{% block body %}
<style>
.rower{
    display:flex;
    flex-direction:row;
} 

</style>
        {% for bien in biens %}
     
           <div class="col-lg-4 col-md-4 col-sm-6 rower">
					{# <a href="{{ asset('image/')}}{{ bien.images[0].image }}" class="fh5co-card-item image-popup"> #}
                    <a href="#" class="fh5co-card-item image-popup">

						<figure>
							<div class="overlay"><i class="ti-plus"></i></div>
							{# <img src="data:image/png;base64,{{bien.images[0].image}}" alt="Image" class="img-responsive"> #}
						</figure>
                        </div>
						<div class="fh5co-text rower">
							<h2>{{ bien.typebien.libelletype}}</h2>
							<p>{{ bien.prix_loc }}, {{ bien.localite.libelleloca }}..</p>
                            <p>{{bien.description}}</p>
							<p><a  href="{{path('reserverBien', {'id':bien.id})}}" class="btn btn-primary">Détail</a></p>
						</div>
					</a>
				  {% endfor %}
 {% endblock %}
